<section class="flex flex-col md:flex-row-reverse w-full justify-center my-4 border">
    <div class="basis-1/2 flex justify-center items-center py-2">
        <img src="/public/perfil1.jpeg" alt="" class="size-48 rounded-tl-xl rounded-br-lg shadow brightness-50 hover:brightness-100 animate-ease-in-out border border-white/80 hover:animate-tada" />
    </div>
    <div class="basis-1/2 flex flex-col gap-2">
        <h1 class="text-2xl text-white font-extrabold mt-1 md:text-left md:pl-4">¿Quien soy?</h1>
        <p class="text-white/80 md:text-left md:pl-4">Soy estudiante de Ingeniería de Software con enfoque en el desarrollo web moderno.</p>
        <p class="text-white/80 md:text-left md:pl-4">Me apasiona crear soluciones reales que combinan diseño atractivo y funcionalidad, usando tecnologías como Astro, Tailwind y JavaScript.</p>
        <p class="font-extrabold md:text-left my-1 md:pl-4">¿Trabajamos juntos en tu próxima idea?</p>
    </div>
</section>