---
import "../styles/global.css"
---

<div class="flex justify-between gap-0.5 m-2">
    <h1 class="">Logo</h1>
    <button class="hamburger hover:cursor-pointer hover:animate-tada">
        <div class="w-6 h-1 bg-white/80 rounded mb-0.5"></div>
        <div class="w-6 h-1 bg-white/80 rounded mb-0.5"></div>
        <div class="w-6 h-1 bg-white/80 rounded mb-0.5"></div>
    </button>
</div>

<nav class="flex justify-end items-center text-gray-500">
    <ul class="nav-links bg-blue-400 w-3xs py-2 rounded hidden">
        <li><a href="" class="hover:text-white">About</a></li>
        <li><a href="" class="hover:text-white">Projects</a></li>
        <li><a href="" class="hover:text-white">Skills</a></li>
        <li><a href="" class="hover:text-white">Contact</a></li>
    </ul>
</nav>

<script>
    const menuHamburger = document.querySelector('.hamburger');
    
    menuHamburger?.addEventListener('click', () => {
        const navLinks = document.querySelector('.nav-links');
        navLinks?.classList.toggle('hidden')
        navLinks?.classList.add('animate-fade-in-down')
    })
</script>
